.game-container .game-commands .game-command-run {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #FFF;

  transition: height ease-in-out .1s,
              width ease-in-out .1s,
              background-color ease-in-out .1s;
}

.game-container .game-commands .game-command-run.run {
  width: 150px;
  height: 150px;
  background-color: rgba(255, 47, 17, 0.6);
}
