.login-container {
  margin: 0 auto;
  width: 80%;
}

.login-container .login-field {
  height: 40px;
  width: 100%;
  border-radius: 20px;
  border: none;
  background-color: rgba(255, 255, 255, .7);
  text-align: center;
  font-size: 16px;
  color: #454545;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.login-container .login-field.login-field-error {
  border: 2px solid rgba(211, 47, 17, .6);
  font-weight: 600;
  color: #d32f2f;
}
