.waiting-room-container {
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
}

.waiting-room-container .waiting-room-list .waiting-room-list-title {
  margin-top: 100px;
  text-align: center;
}

.waiting-room-container .waiting-room-list .waiting-room-list-title h2 {
  font-weight: 600;
  font-size: 18px;
}
